XML & XQuery/SocialmediaBericht.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tijdstip">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="date"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="socialmediabericht">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sociaalnetwerk"/>
				<xs:element ref="inhoud"/>
				<xs:element ref="tijdstip"/>
				<xs:element ref="film"/>
				<xs:element ref="cinemacomplex"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sociaalnetwerk">
		<xs:complexType/>
	</xs:element>
	<xs:element name="inhoud">
		<xs:complexType/>
	</xs:element>
	<xs:element name="film">
		<xs:complexType/>
	</xs:element>
	<xs:element name="cinemacomplex">
		<xs:complexType/>
	</xs:element>
</xs:schema>
